.review-image {
    height: 4.688rem;
    width: 4.688rem;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 auto;
}
.review-text {
    text-align: center;
    color: white;
    font-weight: bolder;
}
.review {
    margin-top: 15%;
    width: 100%;
    border-radius: 17px;
    border: 5px solid transparent;
    margin-bottom: 25px;
    background: rgb(62, 7, 104);
    padding: 1.563rem;
    box-shadow: 21px 23px 22px -12px rgba(0,0,0,0.5);
}
.review:hover {
    border: 5px solid white;
}
.shadow-effect {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-effect:before, .shadow-effect:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow-effect:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
.hover-shadow-review:hover {
    box-shadow: 21px 23px 22px -12px rgba(0,0,0,0.5);
}