.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  background: #F2F3F5;
  /* background-image: url("https://i.pinimg.com/474x/1a/62/36/1a6236455b485e058c154b2d7d5ae65d.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
