.bundle-image {
    height: 300px;
    width: 100%;
    border-radius: 17px;
    margin-top: 10px;
    -webkit-box-shadow: inset 0px 0px 10px 20x rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 0px 10px 20x rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 10px 20x rgba(0, 0, 0, 0.7);
}
.bundle {
    height: auto;
    width: auto;
    background: rgb(62,7,104);
    border-radius: 17px;
    box-shadow: 21px 23px 22px -12px rgba(0,0,0,0.5);
}
.ipod-bg {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/IPod_wheel.svg/210px-IPod_wheel.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    height: 220px;
}
.ipod-cover {
    background-color: rgba(62, 7, 104, 0.858);
    height: 100%;
}
.bundle-text {
    padding: 7px;
    text-align: center;
}
.center-bundle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.bundle:hover {
    box-shadow: 42px 46px 44px -24px rgba(0,0,0,0.5);
}