.user-news {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 75px;
    -webkit-box-shadow: 18px -18px 14px 2px #00000077; 
    box-shadow: 18px -18px 14px 2px #00000077;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.user-news:hover {
    -webkit-box-shadow: 36px -36px 38px 4px #00000077; 
    box-shadow: 36px -36px 38px 4px #00000077;
}
.news-header {
    width: 100%;
    height: 33%;
    position: relative;
}
.news-item {
    font-weight: bolder;
    text-align: left;
    font-weight: 100;
    padding: 0 5% 1.5rem 0;
    display: flex;
    align-items: left;
    justify-content: left;
    text-transform: uppercase;
}

