.product-card {
    height: 100%;
    margin-top: 10%;
    position: relative;
}
.product-card-content {
    height: 11.938rem;
}
.product-description {
    overflow: hidden;
    padding: 1vh;
}
.product-image {
    height: 20vh;
}
.product-image:hover {
    animation-iteration-count: 1s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.product-title {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.product-shadow:hover {
    box-shadow: 11px 13px 12px -2px rgba(0, 0, 0, 0.256);
}
.product-button {
    /* margin-bottom: 5.12rem; */
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}