.menu-collapse {
    padding: 0;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 3%;
}
.menu-expand {
    padding: 0;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 25px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 3%;
}
.menu {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5%;
    -webkit-box-shadow: 0 1400px 2800px rgba(0, 0, 0, 0.632),0 10px 10px rgba(0, 0, 0, 0.632);
    box-shadow: 0 1400px 2800px rgba(0, 0, 0, 0.632),0 10px 10px rgba(0, 0, 0, 0.632);
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    margin-top: 10%;
    margin-left: 10%;
}
.content-collapse {
    height: 0px;
    opacity: 0;
}
.content-expand {
    max-height: 100%;
    opacity: 1;
    
}
.category-header {
    background: rgb(62, 7, 104);
}
.category-header:hover {
    animation-iteration-count: 1s;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.25),0 5px 5px rgba(0,0,0,.22);
    box-shadow: 0 4px 8px rgba(0,0,0,.25),0 5px 5px rgba(0,0,0,.22);
    -moz-box-shadow: inset 0 0 10px #ffffff64;
    -webkit-box-shadow: inset 0 0 10px #ffffff64;
    box-shadow: inset 0 0 10px #ffffff64;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.menu-sub-category:hover {
    background: white;
    color: rgb(62, 7, 104);
    animation-iteration-count: 1s;
    box-shadow: 0 14px 28px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 14px 28px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 14px 28px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 14px 28px  rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 3%;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.menu-sub-category {
    padding-left: .5vh;
    background: rgb(167, 66, 244);
}
.last-sub-category {
    border-bottom-right-radius: 75%;
    border-bottom-left-radius: 75%;
}
.black-key-menu:hover {
    background: black;
    color: rgb(255, 255, 255);
    animation-iteration-count: 1s;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: inset 0 0 10px #ffffff85;
    -webkit-box-shadow: inset 0 0 10px #ffffff85;
    box-shadow: inset 0 0 10px #ffffff85;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.menu-top {
    border-top-right-radius: 75%;
    border-top-left-radius: 75%;
}
.menu-bottom {
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;
}
.radio-button:hover {
    animation-iteration-count: 1s;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: inset 0 0 10px #ffffff85;
    -webkit-box-shadow: inset 0 0 10px #ffffff85;
    box-shadow: inset 0 0 10px #ffffff85;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}