.explore {
    border: 3px solid white;
    background: rgb(62, 7, 104);
    color: white;
    min-height: 3rem;
    font-size: 1.125rem;
    border-radius: 24px;
    padding: .25rem 2rem;
    min-width: 9rem;
}
.explore:hover {
    border: 3px solid rgb(62, 7, 104);
    background: white;
    color: rgb(62, 7, 104);
    animation-iteration-count: 1s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 280px rgba(0,0,0,.25),0 10px 100px rgba(0,0,0,.22);
    box-shadow: 0 14px 280px rgba(0,0,0,.25),0 10px 100px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.shop-now {
    border: 3px solid rgb(62, 7, 104);
    background: white;
    color: rgb(62, 7, 104);
    min-height: 3rem;
    font-size: 1.125rem;
    border-radius: 24px;
    padding: .25rem 2rem;
    min-width: 10rem;
}
.shop-now:hover {
    background: rgb(62, 7, 104);
    color: white;
    animation-iteration-count: 1s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 280px rgba(0,0,0,.25),0 10px 100px rgba(0,0,0,.22);
    box-shadow: 0 14px 280px rgba(0,0,0,.25),0 10px 100px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
h4 {
    /* color: rgb(62, 7, 104); */
    padding: .2rem;
    text-align: left;
}
.cart-add-button {
    width: 100%;
    border-radius: 4px;
    background: rgb(62, 7, 104);
    border-width: 3px;
    border-color: white;
}
.cart-add-button:hover {
    color: rgb(62, 7, 104);
    background: white;
    border-color: rgb(62, 7, 104);
    border-width: 3px;
}
.cart-add-button:active {
    -webkit-box-shadow: 0px 0px 21px 10px rgba(60,7,104,1);
    -moz-box-shadow: 0px 0px 21px 10px rgba(60,7,104,1);
    box-shadow: 0px 0px 21px 10px rgba(60,7,104,1);
}

