.explore {
    border: 3px solid white;
    background: rgb(62, 7, 104);
    color: white;
    min-height: 3rem;
    font-size: 1.125rem;
    border-radius: 24px;
    padding: .25rem 2rem;
    min-width: 9rem;
}
.shop-now {
    border: 3px solid rgb(62, 7, 104);
    background: white;
    color: rgb(62, 7, 104);
    min-height: 3rem;
    font-size: 1.125rem;
    border-radius: 24px;
    padding: .25rem 2rem;
    min-width: 10rem;
}

