.result {
    color: rgb(62,7,104);
    background: white;
    border-radius: 17px;
    cursor: pointer;
    padding-bottom: 25px;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
}
.result:hover {
    cursor: pointer;
}
.result-type {
    display: inline;
    top: 0;
    padding-top: 0.8rem;
}
.result-basic-info {
    position: absolute;
    margin-right: 10px;
    right: 10;
    top: 0;
    padding: 10px 0 0 10px;
}
.result-secondary-info {
    position: absolute;
    left: 10;
}
.result-description {
    text-align: center;
}
.result-image {
    height: 200px;
    width: 200px;
    border-radius: 17px;
    margin-right: 30px;
}
.result-support-info {
    display: inline;
}
@media only screen and (max-width: 575px) {
    .result-support-info {
        display: none;
    }
    .result {
        color: white;
        background: rgb(62,7,104);
        border: 1px solid white;
    }
    .result-basic-info {
        display: none;
    }
}