.user-orders {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.order-summary {
    display: block;
    border: 1px solid white;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    height: 100%;
}
.order-details {
    width: 75%;
}
.order-number {
    width: 35%;
    margin-right: -15%;
    float: right;
}
.order-column {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}
.detail-date {
    margin-bottom: 1%;
    width: 23.448%;
}
.order-column-header {
    margin-top: 0.86rem;
    margin-bottom: 0.86rem;
}
.order-items {
    display: block;
    height: 100%;
    border: 1px solid white;
}
.order-items:last-child {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}
.order-item-details {
    margin-top: 18px!important;
}
.item-details-left {
    margin-top: 7px;
    /* padding-right: 3.2%; */
    float: left;
}
.item-row {
    /* width: 100%; */
    margin-bottom: 0px!important;
}
.item-view-left-column-inner {
    position: sticky;
    display: inline;
}
.order-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-item-img {
    height: 90px;
    width: 160px;
}
.item-details-section {
    padding-left:1.5%;
    float:left;
}
.order-item-button {
    margin-top: 6px!important;
    color: white;
    background: black;
    border-radius: 25px;
    border-color: rgb(62,7,104);
    border-width: 1px;
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(62,7,104,0.75);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(62,7,104,0.75);
    box-shadow: inset 0px 0px 3px 2px rgba(62,7,104,0.75);
}
.order-item-button:hover {
    border-color: white;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0px 0px 3px 2px rgba(255, 255, 255, 0.75);
}
.button-stack {
    border-collapse: collapse;
    box-sizing: border-box;
    display: block;
}