
.profile-card {
    position: relative;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 345px;
    background: black;
    border-radius: 5px;
    -webkit-box-shadow: 18px -18px 14px 2px #00000077; 
    box-shadow: 18px -18px 14px 2px #00000077;
}
.profile-card-image {
    width: 100%;
    height: 33%;
    position: relative;
    left: 25%;
}
.profile-card-contact {
    width: 100%;
    height: 33%;
}
.profile-card-member-info {
    width: 100%;
    height: 33%;
}
.profile-edit-icon {
    float: right;
}
.waves {
    position: absolute;
    width: 100%;
    height: 71.5px;
    bottom: 0;
    left: 0;
    background: url(../../pages/Assets/images/purple-wave.png);
    animation: wave-after-wave 10s linear infinite;
}
.waves::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 71.5px;
    bottom: 0;
    left: 0;
    background: url(../../pages/Assets/images/purple-wave.png);
    opacity: 0.5;
    animation: wave-after-wave 12s linear infinite reverse;
}
.waves::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 71.5px;
    bottom: 0;
    left: 0;
    background: url(../../pages/Assets/images/purple-wave.png);
    opacity: 0.2;
    animation: wave-after-wave 15s linear infinite;
}

@keyframes wave-after-wave {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}