.footer>.bottom {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    font-weight: bolder;
}
.footer {
    display: block;
    background: #3e0768;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    color: white;
    overflow: auto;
    text-align: center;
    padding: 10px;
    z-index: 10;
}