.cart-area {
    /* height: 100%; */
    background: white;
    padding-bottom: 35px;
}
.cart-item {
    height: 105px;
    border: 1px solid rgb(62,7,104);
    border-right: none;
    border-left: none;
}
.cart-item-img {
    padding-top: 11px;
    padding-left: 11px;
    height: 90px;
}
.cart-item-name {
    padding-top: 11px;
    padding-left: 11px;
    font-size: 14px;
    height: 80%;
}
.cart-item-price {
    padding-top: 35px;
    height: 80%;
    width: 100%;
}
.cart-item-quantity {
    padding-top: 32px;
    height: 80%;
}
.cart-button-area {
    background: white;
    padding: 10px;
}
.cart-total-section {
    padding: 15px;
    font-size: 12px;
    height: 80%;
}
.cart-total-bg {
    background: white;
    border: 1px solid rgb(62,7,104);
    border-right: none;
    border-left: none;
}
.delivery-details {
    border: 1px solid rgb(62,7,104);
    border-radius: 7px;
    padding: 3px;
    margin: 12px;
}