.custom-dropdown {
    background: pink;
    color: white;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    width: 100%;
    position: absolute;
    height: 500px;
    z-index: 3;
}