.MuiDrawer-paper-625 {
    background: black !important;
    color: white !important;
}
.MuiListItem-root-668 {
    border-bottom: 1px solid white !important;
}
.MuiListItem-root-668:hover {
    color: rgb(62,7,104) !important;
    border-bottom: 1px solid rgb(62,7,104) !important
}