.search-field {
    border: none;
    height: 100%;
    background: transparent;
    margin: 0 auto;
    position: relative;
}
.search-field:focus {
    outline: none;
    background: transparent;
}
.search-box:focus-within {
  border: 3px solid rgb(62,7,104);
  transition: 0.5s;
}
.white-to-purple {
  color: white;
}
.white-to-purple:hover {
  color: rgb(62,7,104);
}
.search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 10vh;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    opacity: .8;
    border: 3px solid white;
    border-radius: 7px;
    background-color: transparent;
}
*:focus {
    outline: none !important;
}