h1 {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 7px 10px;
}
.q-top-pad {
    padding-top: 25%;
}
.f-top-pad {
    padding-top: 5%;
}
h2 {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
}
h3 {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    display: flex;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 7px 10px;
    padding-top: 5%;
}
.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
}
h5 {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 7px 10px;
}
h6 {
    font-weight: bolder;
    text-align: left;
    font-weight: 100;
    display: flex;
    align-items: left;
    justify-content: left;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.container-fluid {
    padding: 0;
}
.row {
    padding: 0;
}
.col-md-6 {
    padding: 0;
}
.home-item-one {
    min-height: 60vh;
}
.home-item-two {
    min-height: 60vh;
}
.home-promo-img {
    height: 80vh;
    width: 100%;
}
.hover-title {
    border-radius: 5px;
    color: red;
    width: 100%;
    height: 100%;
    padding: 3%;
    /* visibility: hidden; */
    opacity: 0;
}
.video-background {
    background: #000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.hover-title:hover {
    background: rgba(62, 7, 104, 0.55);
    visibility: visible;
    opacity: 1;
}
.review-section {
    background-image: url("https://images.unsplash.com/photo-1513829596324-4bb2800c5efb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    max-width:100%;
    max-height:100%;
}
p {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 7px 10px;
}
span {
    font-weight: bolder;
    text-align: center;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 7px 10px;
}
.current-highlighted-product-section {
    background: rgb(62, 7, 104);
    padding: 2rem;
}
.so-bold {
    font-weight: 900;
}
.secondary-highlighted-product {
    background: #090A05;
    margin-top: 50px;
}
.social-media {
    background: rgb(62, 7, 104);
    margin-top: 50px;
    padding-bottom: 10px;
}
.company-section {
    align-items: center;
    justify-content: flex-end;
    background: rgb(62, 7, 104);
    -webkit-box-shadow: 0 1400px 2800px rgba(0, 0, 0, 0.632),0 10px 10px rgba(0, 0, 0, 0.632);
    box-shadow: 0 1400px 2800px rgba(0, 0, 0, 0.632),0 10px 10px rgba(0, 0, 0, 0.632);
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}
.video {
    height: 400px;
}
.white {
    color: white;
}
.purple {
    color: rgb(62, 7, 104);
}
#search-top-image {
    height: 550px;
    width: 100%;
}
a:visited {
    color: rgb(246, 185, 255);
}
a:link {
    text-decoration: none;
}